<div class='new-main'>
  <%# フォーム %>
  <div class='form'>
    <%# フォームのヘッダー表示 %>
    <div class='form-top'>
    </div>

    <%# フォームのメイン部分 %>
    <div class='form-main'>
      <%= form_with model: @question, local: true do |form| %>
        <div class='input-items'>
          <div class='input-items__title'>
            <%= form.text_field :title, placeholder: "タイトル" %>
          </div>
          <div class='input-items__content'>
            <%= form.text_area :content, placeholder: "質問内容" %>
          </div>
          <div class='input-items__name'>
            <%= form.text_field :name, placeholder: "投稿者名" %>
          </div>
          <div class='input-items__submit'>
            <%= form.submit 'POST'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>