<!DOCTYPE html>
<html>
  <head>
    <title>TechChat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">   
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>  
    <header>
      <div class='header-contents'>
        <div class='logo'>
          TechChat
        </div>
        <div class='post-button'>
          <%= link_to '質問する', new_question_path %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>